/* #0f70b7 */
/* @font-face {

  font-family: "IranSanse";
  src: url("../fonts/IRANSansWeb.eot") format("eot"),
      url("../fonts/IRANSansWeb.woff") format("woff"),
      url("../fonts/IRANSansWeb.ttf") format("truetype"),
      url("../fonts/IRANSansWeb.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {

  font-family: "IranSanse";
  src: url("../public/fonts/BYekan-webfont.eot") format("eot"),
    url("../public/fonts/BYekan-webfont.woff") format("woff"),
    url("../public/fonts/BYekan-webfont.ttf") format("truetype"),
    url("../public/fonts/IRANSansWeb.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IranSanse' !important;
  font-size: 14px !important;
  word-spacing: -1px;
  background-color: #f2f2f2;
  color: #414141 !important
}

.grecaptcha-badge {
  z-index: 99;
}

/* img {
  width: auto;
  height: 100%;
} */

.popover {
  font-family:"IranSanse"!important ;
}
img {
  max-width: 100%
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.btn-orenged {
  background-color: orangered !important;
  color: white;
}

.btn-orenged:hover {
  background-color: transparent !important;
  border: 1px solid orangered !important;
  ;
  color: orangered !important;
  ;
}

.btn-gray {
  background-color: rgb(195, 195, 195) !important;
  color: white !important;
}

.text-justify {
  text-align: justify;
}

/***********toastify css***************/
.Toastify__toast {
  font-family: 'IranSanse' !important;
}

/***********Default setting************/
.main-background-color {
  background-color: #0f70b7 !important;
}

.main-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
}

.main-background-color-btn {
  background-color: #0f70b7 !important;
}

.main-background-color-btn:hover {
  background-color: white !important;
  border-color: #0f70b7 !important;
  color: #0f70b7 !important;
}

.main-color {
  color: #0f70b7 !important;
}

.carousel-inner {
  /* height: 400px; */
  border-radius: 5px;
}

.form-control::placeholder {
  font-size: 12px;
}


/*******************article Editor*******************/
.fixedcontainer {}

.fixedheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
}

.fixedfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
}

/********************article page*********************/
p.card-text {
  min-height: 135px;
}

.refrence-item {
  font-family: 'IranSanse' !important;
  cursor: pointer;
}

.refrence-item:hover {
  color: #0d6efd;
}

.article-Title {
  font-weight: bold;
}

.article-data {
  font-size: 13px;
  color: #6a6a6a;
}

/* .article-data>li:not(:last-of-type):not(:only-of-type)::after {
  content: "•";
  padding-left: 5px;
  padding-right: 5px;
} */

.term-description blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(255, 229, 100, 0.3);
  color: #333;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-right: 10px solid #ffe564;
}

blockquote {
  margin: 0 0 1rem;
}

.article-tag {
  padding: 2px;
  border: 1px solid #0f70b7;
  border-radius: 5px;
  margin-left: 3px;
  display: inline-block;
}

/******************Profile********************/
.profile-container {

  margin: auto;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 8px;
  padding: 10px;
}

.borderlight {
  border: 1px solid #eaeaea !important;
}

/*
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
left: 34px;
bottom: 51px;
}

.change-profileimage {
  width: 150px;
height: 150px;
border-radius: 100%;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
line-height: 130px;
text-align: center;
font-size: 32px;
color: #fff;
background-color: rgba(45, 85, 141, 0.39);
position: absolute;
right: 225px;
top: 143px;
z-index: 2;
opacity: 0;
}

.profileimage-container:hover .change-profileimage {
opacity: 1;
cursor: pointer;
} */

/* --------------------------- */
/* body{
  font-family: 'Hind Guntur', sans-serif;
  color: #054231;
  display: flex;
  justify-content: center;
  background: #49afa8;
  background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
  background-repeat: no-repeat, no-repeat;
  background-position:  200% -40%;
  background-size: 80%;
} */

/* .card{
  width: 310px;
  height: 627px;
  padding: 15px;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px  #3fa1a9;
  background: #fff;
  background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf2.png?raw=true'), url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
  background-repeat: no-repeat, no-repeat;
  background-position: 120% -5%, 200% -40%;
  background-size: 40%, 80%;
  animation: open .5s;
} */
/* @keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
} */
/* form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* 
.field{
  margin: 5px;
  display: flex;
  flex-direction: column;
  } */
.profile-container input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: #0f70b7;
}

.img-wrap {
  position: relative;
  width: 135px;
  height: 135px;
  overflow: hidden;
  border-radius: 50%;
}

.img-upload:before {
  content: '';
  background-image: url('../public/images/camera.svg');
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63d3a6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000009e;
}

.img-upload:hover:before {
  opacity: 1;
}


label {
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
}

.nav-pills .nav-link.active {
  background-color: #0f70b7 !important;
  color: white !important;
}



.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/*******************filemanagment********************/


.fileuploader label {
  max-width: 100% !important;
  height: 100px !important;
}


/****************ArticleTable******************/
.jEiYIr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.font-bold {
  font-weight: bold;
}

.custom-breadcrumb {
  font-size: 12px;
  /* background: #e5e5e5; */
  padding: 5px;
  border-radius: 4px;
}

.customBreadCrumbItem:not(:last-child) {
  cursor: pointer;
  font-weight: bold;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #f1f1f1 !important;
  padding: 10px;
  border-radius: 5px;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none !important;
}
/* .copy{
  display: block ruby;
} */

pre div.copy span {
  position: absolute;
  right: 35px;
  cursor: pointer;
  color: #a5a5a5;
  background: #f1f1f1;
}

.copy span:hover {
  color: #7a7979;
}

.hidespan {
  display: none !important;
}

/************new pagination *************/
.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-container .pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-container .pagination-item .arrow::before {
  position: relative;
  /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: '';
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}

.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}

.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

/***************dashboard****************/
.rolespan {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px;
  margin-right: 2px;
  margin-left: 2px;
}

.directory-clipboard {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.dashboard-content {
  padding: 50px;
  background: #f8f9fa;
  border-radius: 8px;
}

.dashboard-title {
  color: rgb(0, 0, 0);
  padding-right: 15px;
  padding-bottom: 0;
}

/**********aboutus**********************/
.aboutus {
  padding: 70px;
  max-width: 1000px;
  margin: auto;
  background: #ededed;
  border-radius: 8px;
}

/**********abouus**********************/
.contactUs {
  padding: 70px;
  max-width: 1000px;
  margin: auto;
  background: #ededed;
  border-radius: 8px;
}

/***********Default setting************/

a:link,
a:hover,
a:active {
  text-decoration: none;
  outline: 0 !important
}

i,
span,
label {
  /* display: inline-block; */
  font-weight: normal;
}

/* ul {
  list-style: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}



/******************************************/
.p-relative {
  position: relative;
}

.not-found {
  font-size: 16px;
  margin: 5%;
}

.rx-border-rectangle {
  background: #0f70b7;
  height: 4px;
  border-radius: 20px;
  width: 60px;
}

.rx-border-rectangle-after {
  background: 0 0;
  border-bottom: 4px dotted #0f70b7;
  height: 6px;
  width: 33px;
  position: absolute;
  top: -2px;
  right: 57px;

}

/*****************author*********************/

.author .card,
.card-group .card {
  /* width: 300px !important; */
  /* margin: 10px!important; */
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
}

.author .card {
  width: 300px !important;
  margin: 10px !important;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
}

figure {
  border-radius: 3px;
  border: 4px solid #0f70b7;
}

.card:hover .card__caption {
  top: 50%;

  transform: translateY(-50%);
}

/* .card:hover .card__image {
  transform: translateY(-10px);
} */

.card:hover .card__thumb::after {
  top: 0;
}

.card:hover .card__snippet {
  margin: 20px 0;
}

.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}



.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, .66) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}



.card__image {
  transition: 0.5s ease-in-out;
  width: 100%;
}

.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
  width: 100%;
}



.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: 'IranSanse' !important;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'IranSanse' !important;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}



.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 2px solid #0f70b7;
  font-family: 'IranSanse' !important;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 4px;
}

.card__button:hover {
  background-color: #0f70b7;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: 'IranSanse' !important;
  font-size: 14px;
  text-align: center;
}

.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}



.author-data {
  border-radius: 10px;
  background-color: #ededed;
  text-align: center;
  padding: 10%;
  color: #414141;

}

.author-articles {
  border-radius: 10px;
  background-color: #ededed;
}

.authordata-image {
  border-radius: 100%;
  border: 5px solid gray;
  width: 60%;
  margin-bottom: 15px;
}

/********** Transition ************/
a,
i,
input[type="submit"],
form button {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s
}

a {
  color: inherit !important;
}

.user-account .avatar-layer ul:after,
.term-content aside .statistics ul:after,
.term-content aside .share-layer:after,
.term-content .term-description ul li:after,
.comment-list .comment-row:after,
.term-categories .switch-field:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
  line-height: 0
}

.commentbox {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
}

.landing-layer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* .nav-layer nav {
  padding: 15px 0
} */

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.loggein .dropdown-toggle::after {
  display: none;
}

/*-----------login------------*/
.forgetpass {
  font-size: 12px;
}

.forgetpass:hover {
  cursor: pointer;
  color: #0f70b7;
}

.noborder {
  border: none;
  outline: none;
}

.noborder::placeholder {
  font-size: 12px;
}

.toggleshowpass {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
}

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.648);
  z-index: 9999999;
}

.register_container {
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto !important;
  max-width: 1000px !important;
  background: #ededed
}

.register-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px 25px;
  background-color: inherit;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.register-info {
  background-color: #0f70b7;
  display: flex;
  border-radius: 5px 0 0 5px;
}

.register-info-content {
  margin: auto;
  align-items: center;
  text-align: center;
  color: #FFF;
}


.form-account {
  width: 100%;
  height: 45px;
  position: relative;
  margin: auto;
}

.form-account input {
  background-color: inherit;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100%;
  line-height: 40px;
  border: 1px solid #d2d2d2;
  padding: 0 40px 0 0px;
  color: #2C373B;
  border-radius: 5px;
}

.form-account input:focus {
  background-color: inherit;
}

.form-account span.search-icon {
  /* background-color:#2aaf27; */
  color: #0f70b7;
  font-size: 24px;
  width: 50px;
  height: 48px;
  position: absolute;
  right: 10px;
  top: 1px;
  border: 0;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.register-info-content_icon {
  border: 1px solid rgb(198, 198, 198);
  border-radius: 100%;
  display: inline-block;
}

.verifycode_input {
  width: 50px !important;
}

/*-----------article------------*/

.authorname {
  font-size: 14px;
  color: #0f70b7;
  font-weight: bold;
  cursor: pointer;
}

/* ---------articleMenu------- */
.nav-list li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
  color: #9d9d9d;
}

.pull-left {
  float: left !important;
}

.active-border {
  background: #0f70b7;
  color: whitesmoke !important;
  border-radius: 5px;
}

.active-border:hover {
  background: #0f70b7!important;
  color: whitesmoke !important;
  border-radius: 5px;
}

/* a[aria-expanded="true"]>span>svg {
  transform: rotate(270deg);
} */

a>span>svg {
  transform: rotate(270deg);
}

.child-nav {
  background-color: #f6f6f6;
  border-radius: 5px;
}

.child-nav>li {
  padding-right: 20px;
}

.nav-list>li>a {
  color: #C4C4C4;
  font-size: 14px;
  padding-left: 13px !important;
}

.nav-list>li>a:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

/* ------------------------ */
.navbar {
  /* background-color: rgb(237, 237, 237); */
}

.sidebarlist {
  /* display: flex; */
  height: 58vh;
overflow-y: auto;
flex-wrap: wrap;
padding-right: 0;
margin-bottom: 0;
list-style: none;
}
.nav-layer nav ul li {
  display: inline-table;
}

.nav-layer nav ul li a {
  line-height: 25px;
  color: inherit;
  font-size: 14px;
  padding: 0 0 0 15px;
  color: #616161;
}

.nav-layer nav .clientarea {
  text-align: left;
  color: inherit
}

.nav-layer nav .clientarea i {
  color: #fff;
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-left: 4px
}

.nav-layer nav .clientarea a {
  color: inherit;
}

.nav-layer nav ul li a:hover,
.nav-layer nav .clientarea a:hover {
  color: #0f70b7 !important
}

.landing-layer header {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  word-spacing: -1px
}

.landing-layer header .logo {
  width: 250px;
  display: block;
  margin: 0 auto 20px
}

.landing-layer header h1 {
  line-height: 30px;
  padding: 10px 0 20px;
  font-size: 31px
}

.landing-layer header h2,
.landing-layer header h3 {
  line-height: 30px;
  padding: 10px 0;
  font-size: 23px
}

.search-panel {
  width: 100%;
  height: 45px;
  position: relative;
  margin: auto;
}

.search-panel input {
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100%;
  line-height: 40px;
  border: 1px solid #e9e7e7;
  padding: 0 20px 0 0px;
  color: #2C373B;
  border-radius: 4px;
}

.search-panel span {
  /* background-color:#2aaf27; */
  color: rgb(71, 71, 71);
  font-size: 24px;
  width: 50px;
  height: 48px;
  position: absolute;
  left: 1px;
  top: 1px;
  border: 0;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
}

.search-panel span:hover {
  color: goldenrod
}

.search-form {
  width: 100%;
  height: 45px;
  position: relative;
  margin: auto;
}

.search-form input {
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100%;
  line-height: 40px;
  border: 1px solid #e9e7e7;
  padding: 0 40px 0 0px;
  color: #2C373B;
  border-radius: 5px;
}

.search-form span.search-icon {
  /* background-color:#2aaf27; */
  color: #0f70b7;
  font-size: 24px;
  width: 50px;
  height: 48px;
  position: absolute;
  right: 10px;
  top: 1px;
  border: 0;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.search-form span.remove-icon {
  font-size: 24px;
  width: 50px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 1px;
  color: gray;
  cursor: pointer;
}

.search-form button i {
  position: relative;
  top: 5px
}

.suggestions {
  position: absolute;
  z-index: 9999999;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid gainsboro;
  max-height: 350px;
  overflow-y: auto;
}


.suggestions ul li:hover {
  cursor: pointer;
  border: 1.5px dashed rgb(85, 85, 85);
  background-color: #dfdfdf;
  border-radius: 5px;
}

.highlight_suggestionli {
  cursor: pointer;
  border: 1.5px dashed rgb(85, 85, 85);
  background-color: #dfdfdf;
  border-radius: 5px;
}

.breadcrumb-span {
  padding-right: 5%;
  color: gray;
  font-size: 13px;
}

/* .landing-layer .search-form form button:hover{
   background-color: #2C373B
} */
.main-menu {
  background-color: #2aaf27;
  position: relative;
}

.main-menu nav {
  position: relative;
}

.main-menu nav>ul>li {
  float: right;
  padding: 15px 0;
  position: relative;
}

.main-menu nav>ul>li:first-child a {
  padding-right: 0
}

.main-menu nav>span {
  font-size: 36px;
  color: #fff;
  display: none
}

.main-menu nav>span:hover {
  color: #0c740a;
  cursor: pointer;
}

.main-menu nav>ul>li>a {
  color: #fff;
  padding: 0 15px;
  border-left: 1px solid #20991d;
  font-size: 16px
}

.main-menu nav>ul>li:last-child>a {
  border-left: 0
}

.main-menu nav>ul>li>ul {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #2aaf27;
  padding: 5px 10px;
  border-bottom: 3px solid #0c740a;
  min-width: 230px;
  white-space: nowrap;
  display: none;
  z-index: 1000
}

.main-menu nav>ul>li>ul>li {
  width: 100%;
}

.main-menu nav>ul>li>ul>li>a {
  padding: 6px 15px 6px 10px;
  line-height: 22px;
  color: #fff
}

.main-menu nav>ul>li:hover>a:hover,
.main-menu nav>ul>li>ul>li>a:hover {
  color: #0c740a
}

.btn-pre , .btn-next {
  border: 2px solid #0f70b7!important;
  border-radius: 5px!important;
  color: #0f70b7!important;
  cursor: pointer!important;
}

footer .top-footer {
  width: 100%;
  /* background-color: #d5d5d5; */
  padding: 40px 0 20px
}

.top-footer .list {
  margin-bottom: 20px
}

.top-footer .list header {
  margin-bottom: 20px;
  position: relative;
}

.top-footer .list header:before {
  width: 100%;
  content: '';
  position: absolute;
  height: 27px;
  right: 0;
  top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #FFF;
  z-index: 10
}

.top-footer .list header h4 {
  color: #0f70b7;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  z-index: 11;
  position: relative;
  padding-left: 20px
}

.top-footer .list ul li a {
  display: block;
  line-height: 25px;
  padding: 2px 15px 2px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

.top-footer .list ul li a:hover {
  padding-right: 17px;
  color: #0f70b7
}






.terms-items header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 35px
}

.terms-items header h2 {
  text-align: center;
  font-size: 21px;
  line-height: 30px;
  color: #252a2b
}

.terms-items header a {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: #4b4f4f
}

.terms-items header a:hover {
  color: #2aaf27
}

.terms-items .term-col article {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff
}

.terms-items .term-col article .img-layer,
.terms-items .term-col article .img-layer img {
  width: 100%;
  display: block;
}

.terms-items .term-col article h2 a {
  width: 100%;
  display: block;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  color: #252a2b;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.terms-items .term-col article h2 a:hover {
  color: #2aaf27;
}

.terms-items .term-col article span {
  color: #2aaf27;
  padding: 10px;
  border-top: 1px solid #ebebeb;
  width: 100%;
  display: block;
}

.terms-items .term-col article i {
  color: #ccc;
  font-size: 13px;
  position: absolute;
  left: 10px;
  bottom: 12px;
  font-style: normal;
}

.breadcrumb {
  background-color: transparent;
  margin: 15px 0;
  padding-right: 0
}

.breadcrumbsfinalProps a {
  color: rgb(86, 86, 86) !important;
}

.breadcrumb li a,
.breadcrumb li {
  color: #26292c
}

.user-account aside>section,
.user-account .avatar-layer {
  border: 1px solid #ecf1f8;
  margin-bottom: 25px;
  background-color: #fff
}

.user-account .avatar-layer .img-layer {
  margin: 25px auto 0;
  position: relative;
  z-index: 1;
  width: 130px;
  height: 130px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-account .avatar-layer .img-layer img {
  width: 130px;
  height: 130px;
  border: 3px solid #ecf1f8;
  z-index: 1;
  position: relative;
}

.user-account .avatar-layer .img-layer .change-image {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 27px;
  color: #657d9a;
  background-color: rgba(228, 235, 245, 0.4);
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.user-account .avatar-layer .img-layer:hover .change-image {
  opacity: 1;
}

.user-account .avatar-layer .detail {
  width: 100%;
  padding: 10px 0 15px;
  text-align: center;
}

.user-account .avatar-layer .detail h3 {
  font-size: 14px;
  font-weight: bold;
  word-spacing: -1px;
  line-height: 25px;
  padding-bottom: 3px;
  color: #4b5b74
}

.user-account .avatar-layer .detail span {
  font-size: 14px;
  word-spacing: -1px;
  line-height: 25px;
  color: #7389a3;
  display: block;
}

.user-account aside>section header {
  padding: 5px 15px;
  border-bottom: 1px solid #ecf1f8
}

.user-account aside>section header h3 {
  font-size: 15px;
  line-height: 35px;
}

.user-account aside>section .inner {
  padding: 10px 15px
}

.user-account aside>section .inner ul li a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  padding: 4px 0;
  color: #222
}

.user-account aside>section .inner ul li a:hover {
  color: #2aaf27
}

.user-account .user-account-content {
  border: 1px solid #ecf1f8;
  margin-bottom: 25px;
  background-color: #fff;
}

.user-account .user-account-content>header {
  padding: 5px 15px;
  border-bottom: 1px solid #ecf1f8
}

.user-account .user-account-content>header h1 {
  font-size: 15px;
  line-height: 35px;
}

.user-account .user-account-content .inner {
  padding: 20px
}

.user-account .user-account-content .inner .account-information h3 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #2aaf27
}

.user-account .user-account-content .inner .account-information ul li {
  display: block;
  font-size: 14px;
  line-height: 25px;
  padding: 4px 0;
  color: #222
}

.user-account .user-account-content .inner .account-information ul li i {
  margin-left: 5px;
  position: relative;
  top: 3px;
  font-size: 16px;
  color: #ccc
}

.user-account .form-layer {
  padding: 0 20px
}

.user-account .form-layer .input-group {
  margin-bottom: 15px
}

.user-account .form-layer .link {
  padding: 15px 0
}

.user-account .form-layer .link a {
  display: block;
  line-height: 30px;
  font-size: 14px;
  color: #1CBDF9
}

.user-account .form-layer .link a:hover {
  color: #2C373B
}

.user-account .form-layer .link a i {
  font-size: 17px;
  margin-left: 5px;
  position: relative;
  top: 2px
}

.user-account .form-layer .checkbox-layer {
  margin-top: 10px
}

.user-account .form-layer .checkbox-layer input[type="checkbox"],
.user-account .form-layer .radio-layer input[type="radio"] {
  position: relative;
  top: 2px;
  margin-left: 5px
}

.user-account .form-layer .checkbox-layer label,
.user-account .form-layer .radio-layer label {
  margin-left: 25px
}

.term-content>header,
.term-content aside .statistics,
.term-content aside .teacher-info,
.term-content aside .term-info,
.term-content aside .tags-layer,
.term-content aside .share-layer,
.term-content .term-description,
.term-content .user-comments,
.term-categories .aside-section {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  /* box-shadow: 0 0 5px #ccc; */
  /* -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; */
  background-color: #fff
}

.term-content>header h1 {
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 25px
}

.term-content aside .statistics {
  padding: 30px 20px 20px
}

.term-content aside .statistics ul li {
  display: inline-table;
  width: 33.33%;
  text-align: center;
  float: right;
}

.term-content aside .statistics ul li span {
  font-size: 14px;
  color: #8c9395;
  display: block;
  padding-bottom: 5px
}

.term-content aside .statistics ul li i {
  font-size: 16px;
  display: block;
  font-style: normal;
}

.term-content aside .statistics>a {
  width: 100%;
  border-radius: 5px;
  line-height: 48px;
  text-align: center;
  display: block;
  background-color: #2aaf27;
  color: #fff;
  font-size: 17px;
  margin-top: 25px
}

.term-content aside .teacher-info {
  padding: 25px
}

.term-content aside .teacher-info img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  display: block;
  margin: 0 auto
}

.term-content aside .teacher-info h2 {
  width: 100%;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  margin: 15px 0
}

.term-content aside .teacher-info p {
  line-height: 24px;
  text-align: justify;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  color: #8c9395;
}

.term-content aside .term-info {
  padding: 20px 25px
}

.term-content aside .term-info h2 {
  font-size: 17px;
  line-height: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px
}

.term-content aside .term-info ul li {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0
}

.term-content aside .tags-layer,
.term-content aside .share-layer {
  padding: 15px 20px;
}

.term-content aside .tags-layer a {
  font-size: 12px;
  line-height: 20px;
  padding: 1px 5px;
  background-color: #f2f2f2;
  margin: 3px;
  color: #333
}

.term-content aside .share-layer span {
  line-height: 25px;
  font-size: 14px;
  color: #333;
  width: auto;
  display: table;
  float: right;
}

.term-content aside .share-layer a {
  width: 30px;
  height: 30px;
  line-height: 34px;
  font-size: 18px;
  color: #fff;
  background-color: #999;
  border-radius: 100%;
  text-align: center;
  float: left;
  margin-right: 6px
}

.term-content aside .share-layer a:hover {
  background-color: #333
}

.term-content .term-description {
  padding: 25px 25px 10px
}

.term-content .term-description img {
  /* width: 100%; */
  margin-bottom: 20px;
  display: block;
}

.term-content .term-description h2 {
  font-size: 22px;
  line-height: 25px;
  margin: 25px 0
}

.term-content .term-description p {
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

/* .term-content .term-description ul li {
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 15px
} */

.term-content .term-description ul li h3 {
  width: auto;
  float: right;
  display: inline-table;
  font-size: 15px;
  line-height: 22px;
}

.term-content .term-description ul li i {
  font-size: 14px;
  width: auto;
  display: inline-table;
  line-height: 22px;
  color: #2aaf27;
  font-style: normal;
  padding: 0 10px;
  float: right;
}

/* .term-content .term-description ul li span {
  font-size: 17px;
  width: auto;
  display: inline-table;
  line-height: 22px;
  color: #333;
  font-style: normal;
  float: left
} */

ul.custom-breadcrumb , ul.article-data, ul.footeritemlist, .account-information ul{
  list-style: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0
}
.term-content .user-comments {
  padding: 20px
}

.term-content .user-comments header h3 {
  padding-bottom: 20px;
  margin-bottom: 35px;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb
}

.comment-edit,
.comment-delete {
  color: rgb(92, 92, 92);
  margin-left: 5px;
  cursor: pointer;
}

.comment-edit:hover {
  color: green;
}

.comment-delete:hover {
  color: red;
}

.comment-notconfirm {
  color: gray;
}

.term-content .user-comments form input {
  height: 40px
}

.term-content .user-comments form textarea {
  resize: none;
  height: 95px
}

.term-content .user-comments .btn-success {
  width: 100%;
  height: 40px;
  text-align: center;
}

.term-content .pagination {
  width: auto;
  margin: 30px auto 10px;
  /* display: table; */
}

.term-content .pagination i {
  position: relative;
  top: 2px
}

.term-categories .pagination {
  width: auto;
  margin: 10px auto 40px;
  /* display: table; */
}

.term-categories .pagination i {
  position: relative;
  top: 2px
}

.comment-list {
  padding-top: 35px;
  margin-top: 35px;
  border-top: 1px solid #ebebeb
}

.comment-list .comment-row {
  width: 100%;
  padding: 15px 90px 15px 15px;
  position: relative;
}

.word-wrap {
  word-wrap: break-word;
}

.admin-replay {
  border-bottom: none !important;
}

.comment-list .comment-row .userimage {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  border: 2px solid #ebebeb;
  top: 15px
}

.comment-list .comment-row .left-col {
  width: 100%;
  position: relative;
}

.comment-list .comment-row .left-col h3 {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  color: #333
}

.comment-list .comment-row .left-col span {
  display: block;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 5px;
  color: #ccc
}

.comment-list .comment-row .left-col p {
  display: block;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 0
}

.term-categories .top-bar {
  background-color: #fff;
  box-shadow: 0 0 6px #ccc;
  padding: 15px 20px 20px;
  margin-bottom: 25px;
  position: relative;
}

.term-categories>.top-bar>header {
  position: relative;
  height: 45px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb
}

.term-categories>.top-bar>header h1 {
  font-size: 20px;
  line-height: 25px
}

.term-categories>.top-bar>header h1 span {
  color: #2aaf27
}

.term-categories>.top-bar>header>span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  background-color: #f2f2f2
}

.term-categories>.top-bar form {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #E8E8E8;
  overflow: hidden;
}

.term-categories>.top-bar form input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0 18px 0 50px;
  font-size: 14px;
  line-height: 40px
}

.term-categories>.top-bar form button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  font-size: 22px;
  color: #878787;
  line-height: 45px;
  text-align: right;
}

.term-categories>.top-bar .select-ddl {
  width: 100%;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  position: relative;
}

.term-categories>.top-bar .select-ddl select {
  width: 100%;
  padding: 0 15px 0 0;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  border: 0;
}

.term-categories .switch-field {
  width: 100%;
  overflow: hidden;
  border: 1px solid #E8E8E8;
}

.term-categories .switch-field input {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.term-categories .switch-field label {
  background-color: #fff;
  float: right;
  color: #333;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: center;
  text-shadow: none;
  transition: all 0.1s ease-in-out 0s;
  margin-bottom: 0;
  width: 33.33%;
  height: 38px;
  line-height: 30px
}

.term-categories .switch-field label:hover {
  cursor: pointer;
}

.term-categories .switch-field input:checked+label {
  background-color: #0f70b7;
  color: #fff
}

.term-categories .aside-section header h3 {
  font-size: 17px;
  line-height: 22px;
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px
}

.term-categories .filter-by-price header h3 {
  margin-bottom: 30px
}

.term-categories .filter-by-price .price-range {
  padding: 0 35px 15px
}

.term-categories .filter-by-price .max-price {
  width: auto;
  display: inline-table;
  float: left;
  font-size: 12px;
  line-height: 25px;
  position: relative;
  left: -15px;
  padding-top: 10px
}

.term-categories .filter-by-price .min-price {
  width: auto;
  display: inline-table;
  float: right;
  font-size: 12px;
  line-height: 25px;
  position: relative;
  right: -15px;
  padding-top: 10px
}

.term-categories .filter-by-category ul {
  padding: 0 5px 10px
}

.term-categories .filter-by-category ul li {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 20px
}

.term-categories .filter-by-category ul li input {
  position: relative;
  top: 3px;
  margin-left: 3px
}

/*********************************/
.card-img-top {
  border-radius: 5px !important;
}

.terms-items .card {
  border: none !important;
  background-color: transparent;
}

.card-group {
  cursor: pointer;
}

.numberofchild {
  display: inline;
  background: brown;
  width: 35px;
  height: 25px;
  border-radius: 3px;
  padding: 5px;
}

.card-title {
  color: white !important;
  font-weight: bolder;
  font-size: 15px !important;
}

.article-title {
  background: #0f70b7;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  height: 45px;
  display: flex;
  align-items: center;
}

h5.card-title {
  font-size: 15px !important;
}

.card-text {
  color: rgb(59, 59, 59);
  font-size: 14px;
  text-align: justify;
  padding: 15px;
}

.article-footer {
  margin: 10px;
  font-size: 14px;
  color: brown;
  background: gainsboro;
  padding: 5px;
  border-radius: 3px;
}

.article-summery {
  background: #f8f8f8;
  border-radius: 0 0 3px 3px;
}

.article-group {
  border-radius: 3px;
  background-color: #0f70b7;
  color: whitesmoke;
  width: 100%;
  padding: 10%;
  text-align: center;
  min-height: 100%;
}

.article-group h2 {
  font-size: 20px;
}

/**************product demo**************/
.about-content input ,.about-content textarea{
  background: inherit;
}

.about-content input:focus ,.about-content textarea:focus{
  background: inherit;
}

.css-1s2u09g-control {
  background: inherit!important;
}
/****************sidbar****************/

.admin-img {
  background-position: center;
  background-size: cover;
  width: 200px !important;
  height: 200px;
  border-radius: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 10px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

.rdw-dropdown-carettoopen {
  left: 10% !important;
  right: auto !important;
}

.rdw-dropdown-carettoclose {
  left: 10% !important;
  right: auto !important;
}



/* .navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
} */



.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link.active {
  color: #0d6efd;
}



/* //////////////////////////////// */




/* The Modal (background) */
.image-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.86);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.image-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.image-modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.zoomicon:hover {
  cursor: zoom-in
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.productlabel{
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  padding: 7px;
  margin: 2px;
}

.Authorinfo_image {
  width: 60px;
}

.Authorinfo_image img{
  border-radius: 100%;
}

.Authorinfo_data {
  align-items: center;
}

.Authorinfo_data h6 {
  font-size: 13px!important;
}
.Authorinfo_data p {
  font-size: 12px!important;
}

/* ---------------product component------------------- */
bg--section{
  width:100%;
  height:650px;
  background-color:rgb(237, 237, 237);
  border-radius:5px;
}
                          /********************header--section********************/
.color--users{
  color:rgba(128, 128, 128, 0.597);
  font-size: 4rem;
  font-weight: normal;
}
h4.styls{
  color:#0f70b7;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100px;
  text-align: center!important;
  padding: 5px 0 7px;
  margin: 0 auto;
}
                          /*********************cards in the section*******************/
.card--styles{
  width:95%;
  background-color: inherit!important;
  border-radius:5px;
  border: 1px solid rgb(0,0,0,.27)!important;
}     
.color--button{
  background-color: #0f70b7!important;
  border-color: #0f70b7!important;
  color: white!important;
}                      
div.card--styles:hover{
 border: 1px solid #0f70b7!important
}


.react-multiple-carousel__arrow {
  background-color: inherit;
}

.react-multiple-carousel__arrow:hover{
  background-color: inherit;
}

.react-multiple-carousel__arrow::before{
  color: gray;
}

